.createCategory {

    &__category {
        display: flex;
        gap: .5rem;

        &>* {
            margin: 0 !important;
        }

        input {
            font-size: 100% !important;
        }
    }

    &__name {
        flex-grow: 1;
    }
}