
.facetActionsWrapper {

    display: grid;
    grid-template-columns: auto 30px;

    &:hover {
        font-weight: bold;
    }

    &__buttons {
        padding: 0 5px;
        display: flex;
        align-items: center;
    }

    &__content {
        overflow-x: hidden;
    }
}