
.bookExtraData {
    
    border: 1px solid #a9d5de;
    margin: 20px 0;
    border-radius: .28571429rem;

    &__header {
        display: flex;
        font-size: large;
        padding: 10px;
        background-color: #f8ffff;
        color: #276f86;
    }

    &__body {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem;
        padding: 15px 15px;
    }

}

.active {
    transform: rotate(-90deg);
}