.category_dropdown {

    &__form_element {
        display: flex;

    }

    &__categories {
        flex-grow: 1;

        &:not(:only-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}