.categoriesManagement {

    &__edit {
        display: inline;
        border-radius: 0.28rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        float: right;
        
        padding: 6px 3px 2px 3px;
        margin: -6px 5px -2px 0px;

        i {
            margin: 2px !important;
        }

        &:hover {
            background-color: lightgray;
        }
    }

    &__inputsList {
        & > * + * {
            margin-top: 10px;
        }
    }
}